:root {
  --transition: 0.4s;

  --poppinsFont: 'Poppins';

  --borderRadius8: 8px;

  --fontSize10: 8px;
  --fontSize10: 10px;
  --fontSize12: 12px;
  --fontSize14: 14px;
  --fontSize16: 16px;
  --fontSize18: 18px;
  --fontSize40: 40px;

  --fontWeight700: 700;
  --fontWeight600: 600;
  --fontWeight500: 500;
}


#root {
  padding: 0;
}

body {
  background-image: var(--gradientFonColor);
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  height: 100%;
}

body.menu-open {
  overflow: hidden;
}

body[data-theme='dark'] {

  --gradientFonColor: linear-gradient(180deg, rgba(196, 196, 196, 0) 25%, #BEDBB0 92.19%);

  --accentColor: #BEDBB0;
  --headerColor: #161616;
  --blackColor: #151515;
  --sidebarColor: #121212;
  --helpColor: #1F1F1F;
  --whiteColor: #FFFFFF;
  --lowColor: #8FA1D0;
  --mediumColor: #E09CB5;
  --gefaultScreenColor: #E6E6E6;

  --opacityWhite: rgba(255, 255, 255, 0.3);
  --opacityWhite2: rgba(255, 255, 255, 0.5);
}

body[data-theme='light'] {
  --gradientFonColor: linear-gradient(180deg, rgba(196, 196, 196, 0) 25%, #BEDBB0 92.19%);

  --accentColor: #BEDBB0;
  --headerColor: #FCFCFC;
  --blackColor: #151515;
  --sidebarColor: #FFFFFF;
  --helpColor: #F6F6F7;
  --whiteColor: #FFFFFF;
  --lowColor: #8FA1D0;
  --mediumColor: #E09CB5;
  --gefaultScreenColor: #E6E6E6;

  --opacityWhite: rgba(255, 255, 255, 0.3);
  --opacityWhite2: rgba(255, 255, 255, 0.5);
}

body[data-theme='Violet'] {
  --gradientFonColor: linear-gradient(180deg, rgba(196, 196, 196, 0) 25%, #BEDBB0 92.19%);

  --accentColor: #5255BC;
  --headerColor: #FFFFFF;
  --blackColor: #151515;
  --sidebarColor: #5255BC;
  --helpColor: rgba(236, 237, 253, 0.4);
  --whiteColor: #FFFFFF;
  --lowColor: #8FA1D0;
  --mediumColor: #E09CB5;
  --gefaultScreenColor: #E6E6E6;

  --opacityWhite: rgba(255, 255, 255, 0.3);
  --opacityWhite2: rgba(255, 255, 255, 0.5);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}