:root {
  --blackColor: #151515;
  --gradientFonColor: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 25%,
    #bedbb0 92.19%
  );

  --transition: 0.4s;

  --poppinsFont: 'Poppins';

  --borderRadius8: 8px;

  --fontSize10: 8px;
  --fontSize10: 10px;
  --fontSize12: 12px;
  --fontSize14: 14px;
  --fontSize16: 16px;
  --fontSize18: 18px;
  --fontSize20: 20px;
  --fontSize28: 28px;
  --fontSize40: 40px;

  --fontWeight700: 700;
  --fontWeight600: 600;
  --fontWeight500: 500;
}

#root {
  padding: 0;
}

body {
  background-image: var(--gradientFonColor);
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  height: 100%;
}

body.menu-open {
  overflow: hidden;
}

body[data-theme='light'] {
  --accentColor: #bedbb0;
  --headerColor: #fcfcfc;
  --sidebarColor: #ffffff;
  --helpColor: #f6f6f7;
  --whiteColor: #161616;
  --lowColor: #8fa1d0;
  --mediumColor: #e09cb5;
  --defaultScreenColor: #e6e6e6;

  --accentColorSideBar: #bedbb0;
  --accentColorForElementSideBar: #bedbb0;
  --logoFonColor: rgba(31, 31, 31, 1);
  --logoHeaderColor: #161616;
  --logoIconColor: #ffffff;
  --iconSideBarColor: #151515;
  --iconSideBarLogOutColor: #bedbb0;
  --iconSideBarBoardColor: rgba(22, 22, 22, 0.5);

  --opacityWhite: rgba(255, 255, 255, 0.3);
  --opacityWhite2: rgba(255, 255, 255, 0.5);

  --activeItemBorder: rgba(246, 246, 247, 1);
  --borderBottomColor: rgba(22, 22, 22, 0.1);
  --accentWave1: rgba(190, 219, 176, 1) rgba(190, 219, 176, 1);
  --accentWave2: rgba(190, 219, 176, 0.905714) rgba(190, 219, 176, 0.905714);
  --accentWave3: rgba(190, 219, 176, 0.85714) rgba(190, 219, 176, 0.85714);
  --accentWave4: rgba(190, 219, 176, 0.809523) rgba(190, 219, 176, 0.809523);
  --accentWave5: rgba(190, 219, 176, 0.761904) rgba(190, 219, 176, 0.761904);
  --accentWave6: rgba(190, 219, 176, 0.714285) rgba(190, 219, 176, 0.714285);
  --accentWave7: rgba(190, 219, 176, 0.655555) rgba(190, 219, 176, 0.655555);
  --accentWave8: rgba(190, 219, 176, 0.62) rgba(190, 219, 176, 0.62);
  --accentWave9: rgba(190, 219, 176, 0.571428) rgba(190, 219, 176, 0.571428);
  --accentWave10: rgba(190, 219, 176, 0.523809) rgba(190, 219, 176, 0.523809);
  --accentWave11: rgba(190, 219, 176, 0.4761904) rgba(190, 219, 176, 0.4761904);
  --accentWave12: rgba(190, 219, 176, 0.4285714) rgba(190, 219, 176, 0.4285714);
  --accentWave13: rgba(190, 219, 176, 0.38095) rgba(190, 219, 176, 0.38095);
  --accentWave14: rgba(190, 219, 176, , 0.3333333333)
    rgba(190, 219, 176, 0.3333333333);
  --accentWave15: rgba(190, 219, 176, 0.285714) rgba(190, 219, 176, 0.285714);
  --accentWave16: rgba(190, 219, 176, 0.2390852) rgba(190, 219, 176, 0.2390852);
  --accentWave17: rgba(190, 219, 176, 0.2) rgba(190, 219, 176, 0.2);
  --accentWave18: rgba(190, 219, 176, 0.172857) rgba(190, 219, 176, 0.172857);
  --accentWave19: rgba(190, 219, 176, 0.1455555) rgba(190, 219, 176, 0.1455555);
  --accentWave20: rgba(190, 219, 176, 0.1455555) rgba(190, 219, 176, 0.1455555);
  --backgrountloader: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 25%,
    #bedbb0 92.19%
  );
}

body[data-theme='dark'] {
  --accentColor: #bedbb0;
  --headerColor: #161616;
  --sidebarColor: #121212;
  --helpColor: #1f1f1f;
  --whiteColor: #ffffff;
  --lowColor: #8fa1d0;
  --mediumColor: #e09cb5;
  --gefaultScreenColor: #e6e6e6;
  --calendarBackground: #1f1f1f;

  --accentColorSideBar: #bedbb0;
  --accentColorForElementSideBar: #bedbb0;
  --logoHeaderColor: #fff;
  --logoFonColor: rgba(31, 31, 31, 1);
  --logoIconColor: #ffffff;
  --iconSideBarColor: #ffffff;
  --iconSideBarLogOutColor: #bedbb0;
  --iconSideBarBoardColor: rgba(255, 255, 255, 0.5);

  --opacityWhite: rgba(255, 255, 255, 0.3);
  --opacityWhite2: rgba(255, 255, 255, 0.5);

  --activeItemBorder: rgba(31, 31, 31, 1);
  --borderBottomColor: rgba(255, 255, 255, 0.1);
  --accentWave1: rgba(190, 219, 176, 1) rgba(190, 219, 176, 1);
  --accentWave2: rgba(190, 219, 176, 0.905714) rgba(190, 219, 176, 0.905714);
  --accentWave3: rgba(190, 219, 176, 0.85714) rgba(190, 219, 176, 0.85714);
  --accentWave4: rgba(190, 219, 176, 0.809523) rgba(190, 219, 176, 0.809523);
  --accentWave5: rgba(190, 219, 176, 0.761904) rgba(190, 219, 176, 0.761904);
  --accentWave6: rgba(190, 219, 176, 0.714285) rgba(190, 219, 176, 0.714285);
  --accentWave7: rgba(190, 219, 176, 0.655555) rgba(190, 219, 176, 0.655555);
  --accentWave8: rgba(190, 219, 176, 0.62) rgba(190, 219, 176, 0.62);
  --accentWave9: rgba(190, 219, 176, 0.571428) rgba(190, 219, 176, 0.571428);
  --accentWave10: rgba(190, 219, 176, 0.523809) rgba(190, 219, 176, 0.523809);
  --accentWave11: rgba(190, 219, 176, 0.4761904) rgba(190, 219, 176, 0.4761904);
  --accentWave12: rgba(190, 219, 176, 0.4285714) rgba(190, 219, 176, 0.4285714);
  --accentWave13: rgba(190, 219, 176, 0.38095) rgba(190, 219, 176, 0.38095);
  --accentWave14: rgba(190, 219, 176, , 0.3333333333)
    rgba(190, 219, 176, 0.3333333333);
  --accentWave15: rgba(190, 219, 176, 0.285714) rgba(190, 219, 176, 0.285714);
  --accentWave16: rgba(190, 219, 176, 0.2390852) rgba(190, 219, 176, 0.2390852);
  --accentWave17: rgba(190, 219, 176, 0.2) rgba(190, 219, 176, 0.2);
  --accentWave18: rgba(190, 219, 176, 0.172857) rgba(190, 219, 176, 0.172857);
  --accentWave19: rgba(190, 219, 176, 0.1455555) rgba(190, 219, 176, 0.1455555);
  --accentWave20: rgba(190, 219, 176, 0.1455555) rgba(190, 219, 176, 0.1455555);
  --backgrountloader: rgba(31, 31, 31, 1);
}

body[data-theme='violet'] {
  --accentColor: #5255bc;
  --headerColor: #ffffff;
  --sidebarColor: #5255bc;
  --helpColor: rgba(236, 237, 253, 0.4);
  --whiteColor: #ffffff;
  --lowColor: #8fa1d0;
  --mediumColor: #e09cb5;
  --gefaultScreenColor: #e6e6e6;

  --accentColorSideBar: rgba(184, 188, 253, 1);
  --accentColorForElementSideBar: #ffffff;
  --logoHeaderColor: #161616;
  --logoFonColor: rgba(236, 237, 253, 1);
  --logoIconColor: #5255bc;
  --iconSideBarColor: #ffffff;
  --iconSideBarLogOutColor: #ffffff;
  --iconSideBarBoardColor: rgba(255, 255, 255, 0.5);

  --opacityWhite: rgba(255, 255, 255, 0.3);
  --opacityWhite2: rgba(255, 255, 255, 0.5);

  --activeItemBorder: rgba(255, 255, 255, 0.5);
  --borderBottomColor: rgba(255, 255, 255, 0.1);
  --accentWave1: rgba(184, 188, 253, 1) rgba(184, 188, 253, 1);
  --accentWave2: rgba(184, 188, 253, 0.905714) rgba(184, 188, 253, 0.905714);
  --accentWave3: rgba(184, 188, 253, 0.85714) rgba(184, 188, 253, 0.85714);
  --accentWave4: rgba(184, 188, 253, 0.809523) rgba(184, 188, 253, 0.809523);
  --accentWave5: rgba(184, 188, 253, 0.761904) rgba(184, 188, 253, 0.761904);
  --accentWave6: rgba(184, 188, 253, 0.714285) rgba(184, 188, 253, 0.714285);
  --accentWave7: rgba(184, 188, 253, 0.655555) rgba(184, 188, 253, 0.655555);
  --accentWave8: rgba(184, 188, 253, 0.62) rgba(184, 188, 253, 0.62);
  --accentWave9: rgba(184, 188, 253, 0.571428) rgba(184, 188, 253, 0.571428);
  --accentWave10: rgba(184, 188, 253, 0.523809) rgba(184, 188, 253, 0.523809);
  --accentWave11: rgba(184, 188, 253, 0.4761904) rgba(184, 188, 253, 0.4761904);
  --accentWave12: rgba(184, 188, 253, 0.4285714) rgba(184, 188, 253, 0.4285714);
  --accentWave13: rgba(184, 188, 253, 0.38095) rgba(184, 188, 253, 0.38095);
  --accentWave14: rgba(184, 188, 253, 0.3333333333)
    rgba(184, 188, 253, 0.3333333333);
  --accentWave15: rgba(184, 188, 253, 0.285714) rgba(184, 188, 253, 0.285714);
  --accentWave16: rgba(184, 188, 253, 0.2390852) rgba(184, 188, 253, 0.2390852);
  --accentWave17: rgba(184, 188, 253, 0.2) rgba(184, 188, 253, 0.2);
  --accentWave18: rgba(184, 188, 253, 0.172857) rgba(184, 188, 253, 0.172857);
  --accentWave19: rgba(184, 188, 253, 0.1455555) rgba(184, 188, 253, 0.1455555);
  --accentWave20: rgba(184, 188, 253, 0.1455555) rgba(184, 188, 253, 0.1455555);
  --backgrountloader: rgba(255, 255, 255, 1);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
