:root {
  --gradientFonColor: linear-gradient(180deg, rgba(196, 196, 196, 0) 25%, #BEDBB0 92.19%);
}

#root {
  padding: 0;
}

body {
  background-image: var(--gradientFonColor);
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  height: 100%;
}

body.menu-open {
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}